@font-face {
  font-family: "ELAND_Choice_B";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_B.woff")
    format("woff");
}

@font-face {
  font-family: "ELAND_Choice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff")
    format("woff");
}

@font-face {
  font-family: "ELAND_Choice_L";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_L.woff")
    format("woff");
}

* {
  font-family: "ELAND_Choice_L";
  cursor: default;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #444444;
}

::-webkit-scrollbar-track {
  background-color: #beaee2;
}

html,
body,
div {
  background-color: #beaee2;
  width: 100%;
  height: 100%;
}

div {
  display: block;
}

p,
span,
div,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  width: 100%;
  max-width: 500px;
  font-size: 15px;
  padding: 7px;
  margin: 5px;
  text-align: left;
  border: 1px solid #696969;
  cursor: text;
}

button {
  width: 150px;
  height: 40px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #696969;
  background-color: #f9f9f9;
  color: #000000;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  font-family: "ELAND_Choice_M";
}

button:hover {
  border: 1px solid #696969;
  background-color: #696969;
  color: #ffffff;
}

img {
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  text-align: center;
}

.items {
  align-self: center;
  height: auto;
}

.flex_column {
  flex-direction: column;
  width: auto;
}

.text_100px {
  font-size: 100px;
}

.text_30px {
  font-size: 30px;
}

.text_20px {
  font-size: 20px;
}

.text_white {
  color: #ffffff;
}

.text_gray {
  color: #444444;
}

.text_bold {
  font-family: "ELAND_Choice_B";
}

.text_boldM {
  font-family: "ELAND_Choice_M";
}

.text_underline {
  text-decoration: underline;
}

.text_center {
  text-align: center;
}

#profile_text {
  margin: 20px 0;
}

#create_link_wrap div {
  padding: 20px;
}

#create_link_wrap #title_wrap {
  text-align: right;
}

#create_link_wrap #title_wrap p {
  text-align: right;
  padding: 5px;
}

#create_link_wrap #image_wrap {
  text-align: left;
  width: 70%;
}

#created_link_wrap #link_wrap {
  margin-top: 20px;
}

#created_link_wrap .icon_wrap {
  padding: 0 10px;
}

#created_link_wrap .icon_wrap,
#created_link_wrap .icon_wrap > * {
  cursor: pointer;
}

#created_link_wrap .icon_wrap .icon {
  width: 25px;
  height: 25px;
  max-width: 25px;
  max-height: 25px;
}

#created_link_wrap .icon_wrap span {
  color: #ffffff;
  font-size: 12px;
  margin-top: -3px;
}

#select_profile_wrap #nickname_wrap {
  margin-top: 10px;
}

#select_profile_wrap #nickname_wrap .nickname {
  padding: 5px;
  font-size: 20px;
  display: inline-block;
}

#select_profile_wrap #nickname_wrap .nickname:hover {
  cursor: pointer;
  text-decoration: underline;
}

#create_profile_btn {
  width: 300px;
  margin-top: 20px;
}

#group_main_wrap .items {
  height: 100%;
  text-align: left;
}

#group_main_wrap .items:first-child {
  width: 20%;
  justify-content: space-around;
  align-items: flex-end;
}

#group_main_wrap .items:last-child {
  width: 80%;
  justify-content: flex-start;
  align-items: center;
}

#group_main_wrap #member_notice_wrap > div {
  width: 70%;
  height: 45%;
  border: 2px solid #ffffff;
  position: relative;
}

#group_main_wrap p {
  padding: 10px;
}

#group_main_wrap #group_name,
#notice_area {
  height: 40px;
  border-bottom: 2px solid #ffffff;
}

#group_main_wrap #member_wrap #group_member {
  overflow-y: auto;
  height: calc(100% - 42px);
  position: absolute;
  bottom: 0px;
}

#group_main_wrap #member_wrap .group_leader {
  white-space: break-spaces;
}

#group_main_wrap #member_wrap .group_leader > img {
  width: 15px;
  height: 15px;
  margin: 5px 0 0 5px;
}

#group_main_wrap .notice_wrap {
  overflow-y: auto;
  height: calc(100% - 42px);
  position: absolute;
  bottom: 0px;
}

#group_main_wrap .notice {
  border: 1px solid #ffffff;
  width: 80%;
  height: auto;
  padding: 5px;
  margin: 10px auto;
}

#group_main_wrap .notice,
#group_main_wrap .notice > * {
  cursor: pointer;
}

#group_main_wrap .notice:hover {
  color: #ffffff;
}

#group_main_wrap .notice > p {
  padding: 5px;
  font-size: 12px;
}

#group_main_wrap .notice > p > span {
  font-size: 10px;
}

#group_main_wrap #meeting_wrap {
  width: 90%;
  height: 95%;
  border: 2px solid #ffffff;
  margin-left: 5%;
}
